@model  List<Proje7MVC.Models.DataModels.Employees>
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h3 class="text-primary">Ekip Arkadaşlarımız</h3>
            <p class="mb-0">
                Başarıyı ekipler taşır. Tutkulu, deneyimli ve alanında uzman ekibimiz, her adımda yanınızda olarak sizin için en iyi çözümleri sunar ve değerlerinizi korur.
            </p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="@item.ImageUrl" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon">
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-title p-4">
                            <h4 class="mb-0">@item.Name</h4>
                            <h4 class="mb-0">@item.Surname</h4>
                            <p class="mb-0">@item.Profession</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
