﻿@model List<Proje7MVC.Models.DataModels.Contacts>

@{
    ViewBag.Title = "ContactList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>İletişim Bilgileri</h3>
<div class="row" id="basic-table">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adres</th>
                                    <th>Mail</th>
                                    <th>Telefon</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-bold-500">@item.ContactId</td>
                                        <td class="text-bold-500">@item.Address</td>
                                        <td class="text-bold-500">@item.Mail</td>
                                        <td class="text-bold-500">@item.Telephone</td>
                                        <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Contact/UpdateContact/@item.ContactId" class="btn btn-warning">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Contact/CreateContact" class="btn btn-primary">Yeni İletişim Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>